@import "../../variables.scss";
@import "../../color.scss";

.bannerContainer {
  display: flex;
  flex-direction: row;
  padding: calc(2 * $base_unit);
  border-bottom: 1px solid $border-gray;
  height: calc(40 * $base_unit);
}

@media (max-width: 600px) {
  .bannerContainer {
    flex-direction: column;
  }
}